# Project 2 - GeoTweet

@Author Jeffery Brown (daddyjab)<br>
@Date 3/25/19<br>
@File ETL_for_GeoTweet

In [1]:
# Dependencies
import tweepy
import json
import time
import os
import pandas as pd
from datetime import datetime 
from dateutil import tz
import requests
from pprint import pprint

# Database dependencies
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, ForeignKey

# API Keys
from api_config import *

# Twitter API
# key_twitter_tweetquestor_consumer_api_key
# key_twitter_tweetquestor_consumer_api_secret_key
# key_twitter_tweetquestor_access_token
# key_twitter_tweetquestor_access_secret_token

# Flickr API
# key_flicker_infoquestor_key
# key_flicker_infoquestor_secret

In [2]:
# Setup the database using SQLAlchemy
Base = declarative_base()

In [3]:
class Location(Base):
    __tablename__ = 'locations'
    
    # Defining the columns for the table 'locations',
    # which will hold all of the locations in the U.S. for which
    # top trends data is available, as well as location specific
    # info like latitude/longitude
    id = Column( Integer, primary_key = True)
    woeid = Column( Integer )
    twitter_country = Column( String(100) )
    tritter_country_code = Column( String(10) )
    twitter_name = Column( String(250) )
    twitter_parentid = Column( Integer )
    twitter_type = Column( String(50) )
    country_name = Column( String(250) )
    country_name_only = Column( String(250) )
    country_woeid = Column( Integer )
    county_name = Column( String(250) )
    county_name_only = Column( String(250) )
    county_woeid = Column( Integer )
    latitude = Column( Float )
    longitude = Column( Float )
    name_full = Column( String(250) )
    name_only = Column( String(250) )
    name_woe = Column( String(250) )
    place_type = Column( String(250) )
    state_name = Column( String(250) )
    state_name_only = Column( String(250) )
    state_woeid = Column( Integer )
    timezone = Column( String(250) )
    
    
class Trend(Base):
    __tablename__ = 'trends'
    
    # Defining the columns for the table 'trends',
    # which will hold all of the top trends associated with
    # locations in the 'locations' table
    id = Column( Integer, primary_key = True)
    woeid = Column( Integer )
    twitter_as_of = Column( String(100) )
    twitter_created_at = Column( String(100) )
    twitter_name = Column( String(250) )
    twitter_tweet_name = Column( String(250) )
    twitter_tweet_promoted_content = Column( String(250) )
    twitter_tweet_query = Column( String(250) )
    twitter_tweet_url = Column( String(250) )
    twitter_tweet_volume = Column( Float )

In [4]:
# Create an engine that stores data in the local directory's SQLite file
# 'data/twitter_trends.db'.
# NOTE: Since this Jupyter notebook  is running in the ./resources folder
# the path to the database is a little different
db_path_jupyter_notebook = "sqlite:///../data/twitter_trends.db"

# But the Flask app will run from the main folder
db_path_flask_app = "sqlite:///data/twitter_trends.db"

engine = create_engine(db_path_jupyter_notebook)

In [5]:
# Create all table in the engine
# (The equivalent of Create Table statements in raw SQL)
Base.metadata.create_all(engine)

In [6]:
# Bind the engine to the metadata of the Base class so that the
# declaratives can be accessed through a DBSession instance
Base.metadata.bind = engine
DBSession = sessionmaker(bind=engine)

In [7]:
# A DBSession() instance establishes all conversations with the database
# and represents a "staging zone" for all the objects loaded into the
# database session object. Any change made against the objects in the
# session won't be persisted into the database until you call
# session.commit(). If you're not happy about the changes, you can
# revert all of them back to the last commit by calling
# session.rollback()
session = DBSession()

In [9]:
# Setup Tweepy API Authentication to access Twitter
auth = tweepy.OAuthHandler(key_twitter_tweetquestor_consumer_api_key, key_twitter_tweetquestor_consumer_api_secret_key)
auth.set_access_token(key_twitter_tweetquestor_access_token, key_twitter_tweetquestor_access_secret_token)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [10]:
def api_calls_remaining( a_api, a_type = "place"):
# Return the number of Twitter API calls remaining
# for the specified API type:
# 'place': Top 10 trending topics for a WOEID
# 'closest': Locations near a specificed lat/long for which Twitter has trending topic info
# 'available': Locations for which Twitter has topic info

    # Get Twitter rate limit information using the Tweepy API
    rate_limits = a_api.rate_limit_status()
    
    # Focus on the rate limits for trends calls
    trends_limits = rate_limits['resources']['trends']
    
    # Return the remaining requests available for the
    # requested type of trends query (or "" if not a valid type)
    try:
        remaining = trends_limits[ f"/trends/{a_type}" ]['remaining']
    except:
        return ""
        
    return remaining

In [11]:
def api_time_before_reset( a_api, a_type = "place"):
# Return the number of minutes until the Twitter API is reset
# for the specified API type:
# 'place': Top 10 trending topics for a WOEID
# 'closest': Locations near a specificed lat/long for which Twitter has trending topic info
# 'available': Locations for which Twitter has topic info

    # Get Twitter rate limit information using the Tweepy API
    rate_limits = a_api.rate_limit_status()
    
    # Focus on the rate limits for trends calls
    trends_limits = rate_limits['resources']['trends']
    
    
    # Return the reset time for the
    # requested type of trends query (or "" if not a valid type)
    try:
        reset_ts = trends_limits[ f"/trends/{a_type}" ]['reset']
    except:
        return -1
        
    # Calculate the remaining time using datetime methods to
    # get the UTC time from the POSIX timestamp
    reset_utc = datetime.utcfromtimestamp(reset_ts)
    
    # Current the current time
    current_utc = datetime.utcnow()
    
    # Calculate the number of seconds remaining,
    # Assumption: reset time will be >= current time
    time_before_reset = (reset_utc - current_utc).total_seconds() / 60.0
    
    # Tell the datetime object that it's in UTC time zone since 
    # datetime objects are 'naive' by default
    reset_utc = reset_utc.replace(tzinfo = tz.tzutc() )
    
    # Convert time zone
    reset_local = reset_utc.astimezone( tz.tzlocal() )

    # Tell the datetime object that it's in UTC time zone since 
    # datetime objects are 'naive' by default
    current_utc = current_utc.replace(tzinfo = tz.tzutc() )
    
    # Convert time zone
    current_local = current_utc.astimezone( tz.tzlocal() )
    print(f"Time Before Reset: {time_before_reset:.1f}: Reset Time: {reset_local.strftime('%Y-%m-%d %H:%M:%S')}, Local Time: {current_local.strftime('%Y-%m-%d %H:%M:%S')}")
    
    # Return the time before reset (in minutes)
    return time_before_reset

In [59]:
calls_remaining = api_calls_remaining( api, "available" )
print (f"Trends/Available API call has {calls_remaining} calls remaining")
time_before_reset = api_time_before_reset( api, "available")

Trends/Available API call has 75 calls remaining
Time Before Reset: 15.0: Reset Time: 2019-03-27 01:16:06, Local Time: 2019-03-27 01:01:05

In [60]:
calls_remaining = api_calls_remaining( api, "place" )
print (f"Trends/Place API call has {calls_remaining} calls remaining")
time_before_reset = api_time_before_reset( api, "place")

Trends/Place API call has 75 calls remaining
Time Before Reset: 15.0: Reset Time: 2019-03-27 01:16:09, Local Time: 2019-03-27 01:01:08

In [14]:
def get_trends_available_to_df( ):
# Get locations that have trends data from a api.trends_available() call,
# flatten the data, and create a dataframe

    # Obtain the WOEID locations for which Twitter Trends info is available
    try:
        trends_avail = api.trends_available()
        
    except TweepError as e:
        # No top trends info available for this WOEID, return False
        print(f"Error obtaining top trends for WOEID {a_woeid}: ", e)
        return False
    
    # Import trend availability info into a dataframe
    trends_avail_df = pd.DataFrame.from_dict(trends_avail, orient='columns')

    # Retain only locations in the U.S.
    trends_avail_df = trends_avail_df[ (trends_avail_df['countryCode'] == "US") ]
        
    # Reset the index
    trends_avail_df.reset_index(drop=True, inplace=True)

    # Flatten the dataframe by unpacking the placeType column information into separate columns
    trends_avail_df['twitter_type'] = trends_avail_df['placeType'].map( lambda x: x['name'])

    # Remove unneeded fields
    trends_avail_df.drop(['placeType', 'url' ], axis='columns' , inplace = True)

    # Rename the fields
    trends_avail_df.rename(columns={
        'woeid': 'woeid',
        'country': 'twitter_country',
        'countryCode': 'tritter_country_code',
        'name': 'twitter_name',
        'parentid': 'twitter_parentid' }, inplace=True)
    
    return trends_avail_df

In [15]:
# Flatten the Twitter Trends results and populate in a Dataframe
trends_available_df = get_trends_available_to_df()

In [16]:
trends_available_df.head()

,twitter_country,tritter_country_code,twitter_name,twitter_parentid,woeid,twitter_type
0,United States,US,Albuquerque,23424977,2352824,Town
1,United States,US,Atlanta,23424977,2357024,Town
2,United States,US,Austin,23424977,2357536,Town
3,United States,US,Baltimore,23424977,2358820,Town
4,United States,US,Baton Rouge,23424977,2359991,Town

In [17]:
def get_location_info( a_woeid ):
# Use Flickr API call to get location information associated with a Yahoo! WOEID
# Note: Yahoo! no longer supports this type of lookup! :(

    # Setup the Flickr API base URL
    flickr_api_base_url = f"https://api.flickr.com/services/rest/?method=flickr.places.getInfo&api_key={key_flicker_infoquestor_key}&format=json&nojsoncallback=1&woe_id="

    # Populate the WOEID and convert to string format
    woeid_to_search = str(a_woeid)
    
    # Build the full URL for API REST request
    flickr_api_url = flickr_api_base_url + woeid_to_search

    try:
        # Get the REST response, which will be in JSON format
        response = requests.get(url=flickr_api_url)
        
    except requests.exceptions.RequestException as e:
        print("Error obtaining location information for WOEID {a_woeid}: ", e)
        return False
    
    # Parse the json
    location_data = response.json()
    
    # Check for failure to locate the information
    if (location_data['stat'] == 'fail'):
        print(f"Error finding location WOEID {a_woeid}: {location_data['message']}")
        
        
    #pprint(location_data)
    
    # Return just a useful subset of the location info as flattened dictionary
    key_location_info = {}
    
    # Basic information that should be present for any location
    try:
        key_location_info.update( {
            'woeid': int(location_data['place']['woeid']),
            'name_woe': location_data['place']['woe_name'],
            'name_full': location_data['place']['name'],
            'name_only': location_data['place']['name'].split(",")[0].strip(),
            'place_type': location_data['place']['place_type'],
            'latitude': float(location_data['place']['latitude']),
            'longitude': float(location_data['place']['longitude']),
        })
                
    except:
        print("Error - basic location information not returned for WOEID{a_woeid}: ", sys.exc_info()[0])
    
    # Timezone associated with the location - if available
    try:
        key_location_info.update( {
            'timezone': location_data['place']['timezone']  
        })
        
    except:
        key_location_info.update( {
            'timezone': None
        })
        
    # County associated with the location - if available
    try:
        key_location_info.update( {
            'county_name': location_data['place']['county']['_content'],
            'county_name_only': location_data['place']['county']['_content'].split(",")[0].strip(),
            'county_woeid': int(location_data['place']['county']['woeid']),
        })
    except:
        key_location_info.update( {
            'county_name': None,
            'county_name_only': None,
            'county_woeid': None,
        })
        
    # State associated with the location - if available
    try:
        key_location_info.update( {
            'state_name': location_data['place']['region']['_content'],
            'state_name_only': location_data['place']['region']['_content'].split(",")[0].strip(),
            'state_woeid': int(location_data['place']['region']['woeid']),
        })
    except:
        key_location_info.update( {
            'state_name': None,
            'state_name_only': None,
            'state_woeid': None,
        })
        
    # Country associated with the location - if available
    try:
        key_location_info.update( {
            'country_name': location_data['place']['country']['_content'],
            'country_name_only': location_data['place']['country']['_content'].split(",")[0].strip(),
            'country_woeid': int(location_data['place']['country']['woeid']),
        })
    except:
        key_location_info.update( {
            'country_name': None,
            'country_name_only': None,
            'country_woeid': None, 
        })
    
    return key_location_info

In [45]:
# Use the get_location_info() function to add location info (from Flickr)
# for each location (Twitter WOEID) that has trend info
#loc_info_list =  list( trends_available_df['woeid'][0:2].apply( get_location_info ) )
loc_info_list =  list( trends_available_df['woeid'].apply( get_location_info ) )

In [46]:
print(loc_info_list)

[{'woeid': 2352824, 'name_woe': 'Albuquerque', 'name_full': 'Albuquerque, New Mexico, United States', 'name_only': 'Albuquerque', 'place_type': 'locality', 'latitude': 35.105, 'longitude': -106.647, 'timezone': 'America/Denver', 'county_name': 'Bernalillo County, New Mexico, United States', 'county_name_only': 'Bernalillo County', 'county_woeid': 12589279, 'state_name': 'New Mexico, United States', 'state_name_only': 'New Mexico', 'state_woeid': 2347590, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2357024, 'name_woe': 'Atlanta', 'name_full': 'Atlanta, Georgia, United States', 'name_only': 'Atlanta', 'place_type': 'locality', 'latitude': 33.763, 'longitude': -84.423, 'timezone': 'America/New_York', 'county_name': 'Fulton County, Georgia, United States', 'county_name_only': 'Fulton County', 'county_woeid': 12587929, 'state_name': 'Georgia, United States', 'state_name_only': 'Georgia', 'state_woeid': 2347569, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2357536, 'name_woe': 'Austin', 'name_full': 'Austin, Texas, United States', 'name_only': 'Austin', 'place_type': 'locality', 'latitude': 30.306, 'longitude': -97.752, 'timezone': 'America/Chicago', 'county_name': 'Travis County, Texas, United States', 'county_name_only': 'Travis County', 'county_woeid': 12590233, 'state_name': 'Texas, United States', 'state_name_only': 'Texas', 'state_woeid': 2347602, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2358820, 'name_woe': 'Baltimore', 'name_full': 'Baltimore, Maryland, United States', 'name_only': 'Baltimore', 'place_type': 'locality', 'latitude': 39.3, 'longitude': -76.61, 'timezone': 'America/New_York', 'county_name': 'Baltimore City County, Maryland, United States', 'county_name_only': 'Baltimore City County', 'county_woeid': 12588679, 'state_name': 'Maryland, United States', 'state_name_only': 'Maryland', 'state_woeid': 2347579, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2359991, 'name_woe': 'Baton Rouge', 'name_full': 'Baton Rouge, Louisiana, United States', 'name_only': 'Baton Rouge', 'place_type': 'locality', 'latitude': 30.45, 'longitude': -91.126, 'timezone': 'America/Chicago', 'county_name': 'East Baton Rouge Parish County, Louisiana, United States', 'county_name_only': 'East Baton Rouge Parish County', 'county_woeid': 12588612, 'state_name': 'Louisiana, United States', 'state_name_only': 'Louisiana', 'state_woeid': 2347577, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2364559, 'name_woe': 'Birmingham', 'name_full': 'Birmingham, Alabama, United States', 'name_only': 'Birmingham', 'place_type': 'locality', 'latitude': 33.531, 'longitude': -86.823, 'timezone': 'America/Chicago', 'county_name': 'Jefferson County, Alabama, United States', 'county_name_only': 'Jefferson County', 'county_woeid': 12587523, 'state_name': 'Alabama, United States', 'state_name_only': 'Alabama', 'state_woeid': 2347559, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2367105, 'name_woe': 'Boston', 'name_full': 'Boston, Massachusetts, United States', 'name_only': 'Boston', 'place_type': 'locality', 'latitude': 42.358, 'longitude': -71.056, 'timezone': 'America/New_York', 'county_name': 'Suffolk County, Massachusetts, United States', 'county_name_only': 'Suffolk County', 'county_woeid': 12588712, 'state_name': 'Massachusetts, United States', 'state_name_only': 'Massachusetts', 'state_woeid': 2347580, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2378426, 'name_woe': 'Charlotte', 'name_full': 'Charlotte, North Carolina, United States', 'name_only': 'Charlotte', 'place_type': 'locality', 'latitude': 35.222, 'longitude': -80.837, 'timezone': 'America/New_York', 'county_name': 'Mecklenburg County, North Carolina, United States', 'county_name_only': 'Mecklenburg County', 'county_woeid': 12589433, 'state_name': 'North Carolina, United States', 'state_name_only': 'North Carolina', 'state_woeid': 2347592, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2379574, 'name_woe': 'Chicago', 'name_full': 'Chicago, Illinois, United States', 'name_only': 'Chicago', 'place_type': 'locality', 'latitude': 41.884, 'longitude': -87.632, 'timezone': 'America/Chicago', 'county_name': 'Cook County, Illinois, United States', 'county_name_only': 'Cook County', 'county_woeid': 12588093, 'state_name': 'Illinois, United States', 'state_name_only': 'Illinois', 'state_woeid': 2347572, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2380358, 'name_woe': 'Cincinnati', 'name_full': 'Cincinnati, Ohio, United States', 'name_only': 'Cincinnati', 'place_type': 'locality', 'latitude': 39.141, 'longitude': -84.505, 'timezone': 'America/New_York', 'county_name': 'Hamilton County, Ohio, United States', 'county_name_only': 'Hamilton County', 'county_woeid': 12589557, 'state_name': 'Ohio, United States', 'state_name_only': 'Ohio', 'state_woeid': 2347594, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2381475, 'name_woe': 'Cleveland', 'name_full': 'Cleveland, Ohio, United States', 'name_only': 'Cleveland', 'place_type': 'locality', 'latitude': 41.504, 'longitude': -81.69, 'timezone': 'America/New_York', 'county_name': 'Cuyahoga County, Ohio, United States', 'county_name_only': 'Cuyahoga County', 'county_woeid': 12589544, 'state_name': 'Ohio, United States', 'state_name_only': 'Ohio', 'state_woeid': 2347594, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2383489, 'name_woe': 'Colorado Springs', 'name_full': 'Colorado Springs, Colorado, United States', 'name_only': 'Colorado Springs', 'place_type': 'locality', 'latitude': 38.867, 'longitude': -104.76, 'timezone': 'America/Denver', 'county_name': 'El Paso County, Colorado, United States', 'county_name_only': 'El Paso County', 'county_woeid': 12587747, 'state_name': 'Colorado, United States', 'state_name_only': 'Colorado', 'state_woeid': 2347564, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2383660, 'name_woe': 'Columbus', 'name_full': 'Columbus, Ohio, United States', 'name_only': 'Columbus', 'place_type': 'locality', 'latitude': 39.989, 'longitude': -82.985, 'timezone': 'America/New_York', 'county_name': 'Franklin County, Ohio, United States', 'county_name_only': 'Franklin County', 'county_woeid': 12589551, 'state_name': 'Ohio, United States', 'state_name_only': 'Ohio', 'state_woeid': 2347594, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2388929, 'name_woe': 'Dallas', 'name_full': 'Dallas, Texas, United States', 'name_only': 'Dallas', 'place_type': 'locality', 'latitude': 32.781, 'longitude': -96.795, 'timezone': 'America/Chicago', 'county_name': 'Dallas County, Texas, United States', 'county_name_only': 'Dallas County', 'county_woeid': 12590063, 'state_name': 'Texas, United States', 'state_name_only': 'Texas', 'state_woeid': 2347602, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2391279, 'name_woe': 'Denver', 'name_full': 'Denver, Colorado, United States', 'name_only': 'Denver', 'place_type': 'locality', 'latitude': 39.74, 'longitude': -104.991, 'timezone': 'America/Denver', 'county_name': 'Denver County, Colorado, United States', 'county_name_only': 'Denver County', 'county_woeid': 12587743, 'state_name': 'Colorado, United States', 'state_name_only': 'Colorado', 'state_woeid': 2347564, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2391585, 'name_woe': 'Detroit', 'name_full': 'Detroit, Michigan, United States', 'name_only': 'Detroit', 'place_type': 'locality', 'latitude': 42.331, 'longitude': -83.047, 'timezone': 'America/Detroit', 'county_name': 'Wayne County, Michigan, United States', 'county_name_only': 'Wayne County', 'county_woeid': 12588795, 'state_name': 'Michigan, United States', 'state_name_only': 'Michigan', 'state_woeid': 2347581, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2397816, 'name_woe': 'El Paso', 'name_full': 'El Paso, Texas, United States', 'name_only': 'El Paso', 'place_type': 'locality', 'latitude': 31.849, 'longitude': -106.437, 'timezone': 'America/Denver', 'county_name': 'El Paso County, Texas, United States', 'county_name_only': 'El Paso County', 'county_woeid': 12590076, 'state_name': 'Texas, United States', 'state_name_only': 'Texas', 'state_woeid': 2347602, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2407517, 'name_woe': 'Fresno', 'name_full': 'Fresno, California, United States', 'name_only': 'Fresno', 'place_type': 'locality', 'latitude': 36.783, 'longitude': -119.794, 'timezone': 'America/Los_Angeles', 'county_name': 'Fresno County, California, United States', 'county_name_only': 'Fresno County', 'county_woeid': 12587679, 'state_name': 'California, United States', 'state_name_only': 'California', 'state_woeid': 2347563, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2414469, 'name_woe': 'Greensboro', 'name_full': 'Greensboro, North Carolina, United States', 'name_only': 'Greensboro', 'place_type': 'locality', 'latitude': 36.096, 'longitude': -79.827, 'timezone': 'America/New_York', 'county_name': 'Guilford County, North Carolina, United States', 'county_name_only': 'Guilford County', 'county_woeid': 12589414, 'state_name': 'North Carolina, United States', 'state_name_only': 'North Carolina', 'state_woeid': 2347592, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2418046, 'name_woe': 'Harrisburg', 'name_full': 'Harrisburg, Pennsylvania, United States', 'name_only': 'Harrisburg', 'place_type': 'locality', 'latitude': 40.282, 'longitude': -76.88, 'timezone': 'America/New_York', 'county_name': 'Dauphin County, Pennsylvania, United States', 'county_name_only': 'Dauphin County', 'county_woeid': 12589749, 'state_name': 'Pennsylvania, United States', 'state_name_only': 'Pennsylvania', 'state_woeid': 2347597, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2423945, 'name_woe': 'Honolulu', 'name_full': 'Honolulu, Hawaii, United States', 'name_only': 'Honolulu', 'place_type': 'locality', 'latitude': 21.457, 'longitude': -157.971, 'timezone': 'Pacific/Honolulu', 'county_name': 'Honolulu County, Hawaii, United States', 'county_name_only': 'Honolulu County', 'county_woeid': 12588030, 'state_name': 'Hawaii, United States', 'state_name_only': 'Hawaii', 'state_woeid': 2347570, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2424766, 'name_woe': 'Houston', 'name_full': 'Houston, Texas, United States', 'name_only': 'Houston', 'place_type': 'locality', 'latitude': 29.775, 'longitude': -95.381, 'timezone': 'America/Chicago', 'county_name': 'Harris County, Texas, United States', 'county_name_only': 'Harris County', 'county_woeid': 12590107, 'state_name': 'Texas, United States', 'state_name_only': 'Texas', 'state_woeid': 2347602, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2427032, 'name_woe': 'Indianapolis', 'name_full': 'Indianapolis, Indiana, United States', 'name_only': 'Indianapolis', 'place_type': 'locality', 'latitude': 39.766, 'longitude': -86.149, 'timezone': 'America/Indiana/Indianapolis', 'county_name': 'Marion County, Indiana, United States', 'county_name_only': 'Marion County', 'county_woeid': 12588228, 'state_name': 'Indiana, United States', 'state_name_only': 'Indiana', 'state_woeid': 2347573, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2428184, 'name_woe': 'Jackson', 'name_full': 'Jackson, Mississippi, United States', 'name_only': 'Jackson', 'place_type': 'locality', 'latitude': 32.298, 'longitude': -90.18, 'timezone': 'America/Chicago', 'county_name': 'Hinds County, Mississippi, United States', 'county_name_only': 'Hinds County', 'county_woeid': 12588908, 'state_name': 'Mississippi, United States', 'state_name_only': 'Mississippi', 'state_woeid': 2347583, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2428344, 'name_woe': 'Jacksonville', 'name_full': 'Jacksonville, Florida, United States', 'name_only': 'Jacksonville', 'place_type': 'locality', 'latitude': 30.332, 'longitude': -81.674, 'timezone': 'America/New_York', 'county_name': 'Duval County, Florida, United States', 'county_name_only': 'Duval County', 'county_woeid': 12587818, 'state_name': 'Florida, United States', 'state_name_only': 'Florida', 'state_woeid': 2347568, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2430683, 'name_woe': 'Kansas City', 'name_full': 'Kansas City, Missouri, United States', 'name_only': 'Kansas City', 'place_type': 'locality', 'latitude': 39.102, 'longitude': -94.583, 'timezone': 'America/Chicago', 'county_name': 'Jackson County, Missouri, United States', 'county_name_only': 'Jackson County', 'county_woeid': 12589013, 'state_name': 'Missouri, United States', 'state_name_only': 'Missouri', 'state_woeid': 2347584, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2436704, 'name_woe': 'Las Vegas', 'name_full': 'Las Vegas, Nevada, United States', 'name_only': 'Las Vegas', 'place_type': 'locality', 'latitude': 36.171, 'longitude': -115.139, 'timezone': 'America/Los_Angeles', 'county_name': 'Clark County, Nevada, United States', 'county_name_only': 'Clark County', 'county_woeid': 12589233, 'state_name': 'Nevada, United States', 'state_name_only': 'Nevada', 'state_woeid': 2347587, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2441472, 'name_woe': 'Long Beach', 'name_full': 'Long Beach, California, United States', 'name_only': 'Long Beach', 'place_type': 'locality', 'latitude': 33.797, 'longitude': -118.166, 'timezone': 'America/Los_Angeles', 'county_name': 'Los Angeles County, California, United States', 'county_name_only': 'Los Angeles County', 'county_woeid': 12587688, 'state_name': 'California, United States', 'state_name_only': 'California', 'state_woeid': 2347563, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2442047, 'name_woe': 'Los Angeles', 'name_full': 'Los Angeles, California, United States', 'name_only': 'Los Angeles', 'place_type': 'locality', 'latitude': 34.053, 'longitude': -118.245, 'timezone': 'America/Los_Angeles', 'county_name': 'Los Angeles County, California, United States', 'county_name_only': 'Los Angeles County', 'county_woeid': 12587688, 'state_name': 'California, United States', 'state_name_only': 'California', 'state_woeid': 2347563, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2442327, 'name_woe': 'Louisville', 'name_full': 'Louisville, Kentucky, United States', 'name_only': 'Louisville', 'place_type': 'locality', 'latitude': 38.254, 'longitude': -85.766, 'timezone': 'America/Kentucky/Louisville', 'county_name': 'Jefferson County, Kentucky, United States', 'county_name_only': 'Jefferson County', 'county_woeid': 12588531, 'state_name': 'Kentucky, United States', 'state_name_only': 'Kentucky', 'state_woeid': 2347576, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2449323, 'name_woe': 'Memphis', 'name_full': 'Memphis, Tennessee, United States', 'name_only': 'Memphis', 'place_type': 'locality', 'latitude': 35.149, 'longitude': -90.048, 'timezone': 'America/Chicago', 'county_name': 'Shelby County, Tennessee, United States', 'county_name_only': 'Shelby County', 'county_woeid': 12589990, 'state_name': 'Tennessee, United States', 'state_name_only': 'Tennessee', 'state_woeid': 2347601, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2449808, 'name_woe': 'Mesa', 'name_full': 'Mesa, Arizona, United States', 'name_only': 'Mesa', 'place_type': 'locality', 'latitude': 33.417, 'longitude': -111.831, 'timezone': 'America/Phoenix', 'county_name': 'Maricopa County, Arizona, United States', 'county_name_only': 'Maricopa County', 'county_woeid': 12587587, 'state_name': 'Arizona, United States', 'state_name_only': 'Arizona', 'state_woeid': 2347561, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2450022, 'name_woe': 'Miami', 'name_full': 'Miami, Florida, United States', 'name_only': 'Miami', 'place_type': 'locality', 'latitude': 25.782, 'longitude': -80.221, 'timezone': 'America/New_York', 'county_name': 'Miami-Dade County, Florida, United States', 'county_name_only': 'Miami-Dade County', 'county_woeid': 12587815, 'state_name': 'Florida, United States', 'state_name_only': 'Florida', 'state_woeid': 2347568, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2451822, 'name_woe': 'Milwaukee', 'name_full': 'Milwaukee, Wisconsin, United States', 'name_only': 'Milwaukee', 'place_type': 'locality', 'latitude': 43.041, 'longitude': -87.906, 'timezone': 'America/Chicago', 'county_name': 'Milwaukee County, Wisconsin, United States', 'county_name_only': 'Milwaukee County', 'county_woeid': 12590574, 'state_name': 'Wisconsin, United States', 'state_name_only': 'Wisconsin', 'state_woeid': 2347608, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2452078, 'name_woe': 'Minneapolis', 'name_full': 'Minneapolis, Minnesota, United States', 'name_only': 'Minneapolis', 'place_type': 'locality', 'latitude': 44.979, 'longitude': -93.264, 'timezone': 'America/Chicago', 'county_name': 'Hennepin County, Minnesota, United States', 'county_name_only': 'Hennepin County', 'county_woeid': 12588823, 'state_name': 'Minnesota, United States', 'state_name_only': 'Minnesota', 'state_woeid': 2347582, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2457170, 'name_woe': 'Nashville', 'name_full': 'Nashville, Tennessee, United States', 'name_only': 'Nashville', 'place_type': 'locality', 'latitude': 36.171, 'longitude': -86.784, 'timezone': 'America/Chicago', 'county_name': 'Davidson County, Tennessee, United States', 'county_name_only': 'Davidson County', 'county_woeid': 12589930, 'state_name': 'Tennessee, United States', 'state_name_only': 'Tennessee', 'state_woeid': 2347601, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 2458410, 'name_woe': 'New Haven', 'name_full': 'New Haven, Connecticut, United States', 'name_only': 'New Haven', 'place_type': 'locality', 'latitude': 41.303, 'longitude': -72.922, 'timezone': 'America/New_York', 'county_name': 'New Haven County, Connecticut, United States', 'county_name_only': 'New Haven County', 'county_woeid': 12587795, 'state_name': 'Connecticut, United States', 'state_name_only': 'Connecticut', 'state_woeid': 2347565, 'country_name': 'United States', 'country_name_only': 'United States', 'country_woeid': 23424977}, {'woeid': 24

In [47]:
# Create a DataFrame from the location info list
loc_info_df = pd.DataFrame.from_dict(loc_info_list)

In [48]:
loc_info_df

,country_name,country_name_only,country_woeid,county_name,county_name_only,county_woeid,latitude,longitude,name_full,name_only,name_woe,place_type,state_name,state_name_only,state_woeid,timezone,woeid
0,United States,United States,23424977,"Bernalillo County, New Mexico, United States",Bernalillo County,12589279.0,35.105,-106.647,"Albuquerque, New Mexico, United States",Albuquerque,Albuquerque,locality,"New Mexico, United States",New Mexico,2347590.0,America/Denver,2352824
1,United States,United States,23424977,"Fulton County, Georgia, United States",Fulton County,12587929.0,33.763,-84.423,"Atlanta, Georgia, United States",Atlanta,Atlanta,locality,"Georgia, United States",Georgia,2347569.0,America/New_York,2357024
2,United States,United States,23424977,"Travis County, Texas, United States",Travis County,12590233.0,30.306,-97.752,"Austin, Texas, United States",Austin,Austin,locality,"Texas, United States",Texas,2347602.0,America/Chicago,2357536
3,United States,United States,23424977,"Baltimore City County, Maryland, United States",Baltimore City County,12588679.0,39.300,-76.610,"Baltimore, Maryland, United States",Baltimore,Baltimore,locality,"Maryland, United States",Maryland,2347579.0,America/New_York,2358820
4,United States,United States,23424977,"East Baton Rouge Parish County, Louisiana, Uni...",East Baton Rouge Parish County,12588612.0,30.450,-91.126,"Baton Rouge, Louisiana, United States",Baton Rouge,Baton Rouge,locality,"Louisiana, United States",Louisiana,2347577.0,America/Chicago,2359991
5,United States,United States,23424977,"Jefferson County, Alabama, United States",Jefferson County,12587523.0,33.531,-86.823,"Birmingham, Alabama, United States",Birmingham,Birmingham,locality,"Alabama, United States",Alabama,2347559.0,America/Chicago,2364559
6,United States,United States,23424977,"Suffolk County, Massachusetts, United States",Suffolk County,12588712.0,42.358,-71.056,"Boston, Massachusetts, United States",Boston,Boston,locality,"Massachusetts, United States",Massachusetts,2347580.0,America/New_York,2367105
7,United States,United States,23424977,"Mecklenburg County, North Carolina, United States",Mecklenburg County,12589433.0,35.222,-80.837,"Charlotte, North Carolina, United States",Charlotte,Charlotte,locality,"North Carolina, United States",North Carolina,2347592.0,America/New_York,2378426
8,United States,United States,23424977,"Cook County, Illinois, United States",Cook County,12588093.0,41.884,-87.632,"Chicago, Illinois, United States",Chicago,Chicago,locality,"Illinois, United States",Illinois,2347572.0,America/Chicago,2379574
9,United States,United States,23424977,"Hamilton County, Ohio, United States",Hamilton County,12589557.0,39.141,-84.505,"Cincinnati, Ohio, United States",Cincinnati,Cincinnati,locality,"Ohio, United States",Ohio,2347594.0,America/New_York,2380358
10,United States,United States,23424977,"Cuyahoga County, Ohio, United States",Cuyahoga County,12589544.0,41.504,-81.690,"Cleveland, Ohio, United States",Cleveland,Cleveland,locality,"Ohio, United States",Ohio,2347594.0,America/New_York,2381475
11,United States,United States,23424977,"El Paso County, Colorado, United States",El Paso County,12587747.0,38.867,-104.760,"Colorado Springs, Colorado, United States",Colorado Springs,Colorado Springs,locality,"Colorado, United States",Colorado,2347564.0,America/Denver,2383489
12,United States,United States,23424977,"Franklin County, Ohio, United States",Franklin County,12589551.0,39.989,-82.985,"Columbus, Ohio, United States",Columbus,Columbus,locality,"Ohio, United States",Ohio,2347594.0,America/New_York,2383660
13,United States,United States,23424977,"Dallas County, Texas, United States",Dallas County,12590063.0,32.781,-96.795,"Dallas, Texas, United States",Dallas,Dallas,locality,"Texas, United States",Texas,2347602.0,America/Chicago,2388929
14,United States,United States,23424977,"Denver County, Colorado, United States",Denver County,12587743.0,39.740,-104.991,"Denver, Colorado, United States",Denver,Denver,locality,"Colorado, United States",Colorado,2347564.0,America/Denver,2391279
15,United States,United States,23424977,"Wayne County, Michigan, United States",Wayne County,12588795.0,42.331,-83.047,"Detroit, Michigan, United States",Detroit,Detroit,locality,"Michigan, United States",Michigan,2347581.0,America/Detroit,2391585
16,United States,United States,23424977,"El Paso County, Texas, United States",El Paso County,12590076.0,31.849,-106.437,"El Paso, Texas, United States",El Paso,El Paso,locality,"Texas, United States",Texas,2347602.0,America/Denver,2397816
17,United States,United States,23424977,"Fresno County, California, United States",Fresno County,12587679.0,36.783,-119.794,"Fresno, California, United States",Fresno,Fresno,locality,"California, United States",California,2347563.0,America/Los_Angeles,2407517
18,United States,United States,23424977,"Guilford County, North Carolina, United States",Guilford County,12589414.0,36.096,-79.827,"Greensboro, North Carolina, United States",Greensboro,Greensboro,locality,"North Carolina, United States",North Carolina,2347592.0,America/New_York,2414469
19,United States,United States,23424977,"Dauphin County, Pennsylvania, United States",Dauphin County,12589749.0,40.282,-76.880,"Harrisburg, Pennsylvania, United States",Harrisburg,Harrisburg,locality,"Pennsylvania, United States",Pennsylvania,2347597.0,America/New_York,2418046
20,United States,United States,23424977,"Honolulu County, Hawaii, United States",Honolulu County,12588030.0,21.457,-157.971,"Honolulu, Hawaii, United States",Honolulu,Honolulu,locality,"Hawaii, United States",Hawaii,2347570.0,Pacific/Honolulu,2423945
21,United States,United States,23424977,"Harris County, Texas, United States",Harris County,12590107.0,29.775,-95.381,"Houston, Texas, United States",Houston,Houston,locality,"Texas, United States",Texas,2347602.0,America/Chicago,2424766
22,United States,United States,23424977,"Marion County, Indiana, United States",Marion County,12588228.0,39.766,-86.149,"Indianapolis, Indiana, United States",Indianapolis,Indianapolis,locality,"Indiana, United States",Indiana,2347573.0,America/Indiana/Indianapolis,2427032
23,United States,United States,23424977,"Hinds County, Mississippi, United States",Hinds County,12588908.0,32.298,-90.180,"Jackson, Mississippi, United States",Jackson,Jackson,locality,"Mississippi, United States",Mississippi,2347583.0,America/Chicago,2428184
24,United States,United States,23424977,"Duval County, Florida, United States",Duval County,12587818.0,30.332,-81.674,"Jacksonville, Florida, United States",Jacksonville,Jacksonville,locality,"Florida, United States",Florida,2347568.0,America/New_York,2428344
25,United States,United States,23424977,"Jackson County, Missouri, United States",Jackson County,12589013.0,39.102,-94.583,"Kansas City, Missouri, United States",Kansas City,Kansas City,locality,"Missouri, United States",Missouri,2347584.0,America/Chicago,2430683
26,United States,United States,23424977,"Clark County, Nevada, United States",Clark County,12589233.0,36.171,-115.139,"Las Vegas, Nevada, United States",Las Vegas,Las Vegas,locality,"Nevada, United States",Nevada,2347587.0,America/Los_Angeles,2436704
27,United States,United States,23424977,"Los Angeles County, California, United States",Los Angeles County,12587688.0,33.797,-118.166,"Long Beach, California, United States",Long Beach,Long Beach,locality,"California, United States",California,2347563.0,America/Los_Angeles,2441472
28,United States,United States,23424977,"Los Angeles County, California, United States",Los Angeles County,12587688.0,34.053,-118.245,"Los Angeles, California, United States",Los Angeles,Los Angeles,locality,"California, United States",California,2347563.0,America/Los_Angeles,2442047
29,United States,United States,23424977,"Jefferson County, Kentucky, United States",Jefferson County,12588531.0,38.254,-85.766,"Louisville, Kentucky, United States",Louisville,Louisville,locality,"Kentucky, United States",Kentucky,2347576.0,America/Kentucky/Louisville,2442327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,United States,United States,23424977,"Hennepin County, Minnesota, United States",Hennepin County,12588823.0,44.979,-93.264,"Minneapolis, Minnesota, United States",Minneapolis,Minneapolis,locality,"Minnesota, United States",Minnesota,2347582.0,America/Chicago,2452078
35,United States,United States,23424977,"Davidson County, Tennessee, United States",Davidson County,12589930.0,36.171,-86.784,"Nashville, Tennessee, United States",Nashville,Nashville,locality,"Tennessee, United States",Tennessee,2347601.0,America/Chicago,2457170
36,United States,United States,23424977,"New Haven County, Connecticut, United States",New Haven County,12587795.0,41.303,-72.922,"New Haven, Connecticut, United States",New Haven,New Haven,locality,"Connecticut, United States",Connecticut,2347565.0,America/New_York,2458410
37,United States,United States,23424977,"Orleans Parish County, Louisiana, United States",Orleans Parish County,12588631.0,30.068,-89.931,"New Orleans, Louisiana, United States",New Orleans,New Orleans,locality,"Louisiana, United States",Louisiana,2347577.0,America/Chicago,2458833
38,United States,United States,23424977,None,None,NaN,40.714,-74.007,"New York, NY, United States",New York,New York,locality,"New York, United States",New York,2347591.0,America/New_York,2459115
39,United States,United States,23424977,"Norfolk City County, Virginia, United States",Norfolk City County,12590391.0,36.846,-76.285,"Norfolk, Virginia, United States",Norfolk,Norfolk,locality,"Virginia, United States",Virginia,2347605.0,America/New_York,2460389
40,United States,United States,23424977,"Oklahoma County, OK, United States",Oklahoma County,12589669.0,35.466,-97.514,"Oklahoma City, Oklahoma, United States",Oklahoma City,Oklahoma City,locality,"Oklahoma, United States",Oklahoma,2347595.0,America/Chicago,2464592
41,United States,United States,23424977,"Douglas County, Nebraska, United States",Douglas County,12589165.0,41.263,-96.035,"Omaha, Nebraska, United States",Omaha,Omaha,locality,"Nebraska, United States",Nebraska,2347586.0,America/Chicago,2465512
42,United States,United States,23424977,"Orange County, Florida, United States",Orange County,12587850.0,28.479,-81.344,"Orlando, Florida, United States",Orlando,Orlando,locality,"Florida, United States",Florida,2347568.0,America/New_York,2466256
43,United States,United States,23424977,"Philadelphia County, Pennsylvania, United States",Philadelphia County,12589778.0,40.007,-75.133,"Philadelphia, Pennsylvania, United States",Philadelphia,Philadelphia,locality,"Pennsylvania, United States",Pennsylvania,2347597.0,America/New_York,2471217
44,United States,United States,23424977,"Maricopa County, Arizona, United States",Maricopa County,12587587.0,33.558,-112.080,"Phoenix, Arizona, United States",Phoenix,Phoenix,locality,"Arizona, United States",Arizona,2347561.0,America/Phoenix,2471390
45,United States,United States,23424977,"Allegheny County, Pennsylvania, United States",Allegheny County,12589729.0,40.431,-79.980,"Pittsburgh, Pennsylvania, United States",Pittsburgh,Pittsburgh,locality,"Pennsylvania, United States",Pennsylvania,2347597.0,America/New_York,2473224
46,United States,United States,23424977,"Multnomah County, Oregon, United States",Multnomah County,12589717.0,45.536,-122.650,"Portland, Oregon, United States",Portland,Portland,locality,"Oregon, United States",Oregon,2347596.0,America/Los_Angeles,2475687
47,United States,United States,23424977,"Providence County, Rhode Island, United States",Providence County,12589798.0,41.823,-71.419,"Providence, Rhode Island, United States",Providence,Providence,locality,"Rhode Island, United States",Rhode Island,2347598.0,America/New_York,2477058
48,United States,United States,23424977,"Wake County, North Carolina, United States",Wake County,12589465.0,35.785,-78.642,"Raleigh, North Carolina, United States",Raleigh,Raleigh,locality,"North Carolina, United States",North Carolina,2347592.0,America/New_York,2478307
49,United States,United States,23424977,"Richmond City County, Virginia, United States",Richmond City County,12590410.0,37.529,-77.475,"Richmond, Virginia, United States",Richmond,Richmond,locality,"Virginia, United States",Virginia,2347605.0,America/New_York,2480894
50,United States,United States,23424977,"Sacramento County, California, United States",Sacramento County,12587703.0,38.567,-121.468,"Sacramento, California, United States",Sacramento,Sacramento,locality,"California, United States",California,2347563.0,America/Los_Angeles,2486340
51,United States,United States,23424977,"St. Louis City County, Missouri, United States",St. Louis City County,12589067.0,38.627,-90.199,"St. Louis, Missouri, United States",St. Louis,St. Louis,locality,"Missouri, United States",Missouri,2347584.0,America/Chicago,2486982
52,United States,United States,23424977,"Salt Lake County, Utah, United States",Salt Lake County,12590278.0,40.777,-111.930,"Salt Lake City, Utah, United States",Salt Lake City,Salt Lake City,locality,"Utah, United States",Utah,2347603.0,America/Denver,2487610
53,United States,United States,23424977,"Bexar County, Texas, United States",Bexar County,12590021.0,29.460,-98.521,"San Antonio, Texas, United States",San Antonio,San Antonio,locality,"Texas, United States",Texas,2347602.0,America/Chicago,2487796
54,United States,United States,23424977,"San Diego County, California, United States",San Diego County,12587706.0,32.831,-117.122,"San Diego, California, United States",San Diego,San Diego,locality,"California, United States",California,2347563.0,America/Los_Angeles,2487889
55,United States,United States,23424977,"San Francisco County, California, United States",San Francisco County,12587707.0,37.747,-122.439,"San Francisco, California, United States",San Francisco,San Francisco,locality,"California, United States",California,2347563.0,America/Los_Angeles,2487956
56,United States,United States,23424977,"Santa Clara County, California, United States",Santa Clara County,12587712.0,37.338,-121.886,"San Jose, California, United States",San Jose,San Jose,locality,"California, United States",California,2347563.0,America/Los_Angeles,2488042
57,United States,United States,23424977,"King County, Washington, United States",King County,12590456.0,47.603,-122.329,"Seattle, Washington, United States",Seattle,Seattle,locality,"Washington, United States",Washington,2347606.0,America/Los_Angeles,2490383
58,United States,United States,23424977,"Leon County, Florida, United States",Leon County,12587839.0,30.439,-84.280,"Tallahassee, Florida, United States",Tallahassee,Tallahassee,locality,"Florida, United States",Florida,2347568.0,America/New_York,2503713
59,United States,United States,23424977,"Hillsborough County, Florida, United States",Hillsborough County,12587831.0,27.967,-82.475,"Tampa, Florida, United States",Tampa,Tampa,locality,"Florida, United States",Florida,2347568.0,America/New_York,2503863
60,United States,United States,23424977,"Pima County, Arizona, United States",Pima County,12587590.0,32.156,-110.877,"Tucson, Arizona, United States",Tucson,Tucson,locality,"Arizona, United States",Arizona,2347561.0,America/Phoenix,2508428
61,United States,United States,23424977,"Virginia Beach City County, Virginia, United S...",Virginia Beach City County,12590430.0,36.772,-76.050,"Virginia Beach, Virginia, United States",Virginia Beach,Virginia Beach,locality,"Virginia, United States",Virginia,2347605.0,America/New_York,2512636
62,United States,United States,23424977,"District of Columbia County, DC, United States",District of Columbia County,12587802.0,38.904,-77.016,"Washington, District of Columbia, United States",Washington,Washington,locality,"District of Columbia, United States",District of Columbia,2347567.0,America/New_York,2514815
63,United States,United States,23424977,None,None,NaN,37.167,-95.845,United States,United States,United States,country,None,None,NaN,None,23424977

In [49]:
# Merge the Twitter trend location available dataframe with the
# location info dataframe to create a master list of all
# Twitter Trend locations and associated location information
twitter_trend_locations_df = trends_available_df.merge(loc_info_df, how='inner', on='woeid')

In [50]:
twitter_trend_locations_df

,twitter_country,tritter_country_code,twitter_name,twitter_parentid,woeid,twitter_type,country_name,country_name_only,country_woeid,county_name,...,latitude,longitude,name_full,name_only,name_woe,place_type,state_name,state_name_only,state_woeid,timezone
0,United States,US,Albuquerque,23424977,2352824,Town,United States,United States,23424977,"Bernalillo County, New Mexico, United States",...,35.105,-106.647,"Albuquerque, New Mexico, United States",Albuquerque,Albuquerque,locality,"New Mexico, United States",New Mexico,2347590.0,America/Denver
1,United States,US,Atlanta,23424977,2357024,Town,United States,United States,23424977,"Fulton County, Georgia, United States",...,33.763,-84.423,"Atlanta, Georgia, United States",Atlanta,Atlanta,locality,"Georgia, United States",Georgia,2347569.0,America/New_York
2,United States,US,Austin,23424977,2357536,Town,United States,United States,23424977,"Travis County, Texas, United States",...,30.306,-97.752,"Austin, Texas, United States",Austin,Austin,locality,"Texas, United States",Texas,2347602.0,America/Chicago
3,United States,US,Baltimore,23424977,2358820,Town,United States,United States,23424977,"Baltimore City County, Maryland, United States",...,39.300,-76.610,"Baltimore, Maryland, United States",Baltimore,Baltimore,locality,"Maryland, United States",Maryland,2347579.0,America/New_York
4,United States,US,Baton Rouge,23424977,2359991,Town,United States,United States,23424977,"East Baton Rouge Parish County, Louisiana, Uni...",...,30.450,-91.126,"Baton Rouge, Louisiana, United States",Baton Rouge,Baton Rouge,locality,"Louisiana, United States",Louisiana,2347577.0,America/Chicago
5,United States,US,Birmingham,23424977,2364559,Town,United States,United States,23424977,"Jefferson County, Alabama, United States",...,33.531,-86.823,"Birmingham, Alabama, United States",Birmingham,Birmingham,locality,"Alabama, United States",Alabama,2347559.0,America/Chicago
6,United States,US,Boston,23424977,2367105,Town,United States,United States,23424977,"Suffolk County, Massachusetts, United States",...,42.358,-71.056,"Boston, Massachusetts, United States",Boston,Boston,locality,"Massachusetts, United States",Massachusetts,2347580.0,America/New_York
7,United States,US,Charlotte,23424977,2378426,Town,United States,United States,23424977,"Mecklenburg County, North Carolina, United States",...,35.222,-80.837,"Charlotte, North Carolina, United States",Charlotte,Charlotte,locality,"North Carolina, United States",North Carolina,2347592.0,America/New_York
8,United States,US,Chicago,23424977,2379574,Town,United States,United States,23424977,"Cook County, Illinois, United States",...,41.884,-87.632,"Chicago, Illinois, United States",Chicago,Chicago,locality,"Illinois, United States",Illinois,2347572.0,America/Chicago
9,United States,US,Cincinnati,23424977,2380358,Town,United States,United States,23424977,"Hamilton County, Ohio, United States",...,39.141,-84.505,"Cincinnati, Ohio, United States",Cincinnati,Cincinnati,locality,"Ohio, United States",Ohio,2347594.0,America/New_York
10,United States,US,Cleveland,23424977,2381475,Town,United States,United States,23424977,"Cuyahoga County, Ohio, United States",...,41.504,-81.690,"Cleveland, Ohio, United States",Cleveland,Cleveland,locality,"Ohio, United States",Ohio,2347594.0,America/New_York
11,United States,US,Colorado Springs,23424977,2383489,Town,United States,United States,23424977,"El Paso County, Colorado, United States",...,38.867,-104.760,"Colorado Springs, Colorado, United States",Colorado Springs,Colorado Springs,locality,"Colorado, United States",Colorado,2347564.0,America/Denver
12,United States,US,Columbus,23424977,2383660,Town,United States,United States,23424977,"Franklin County, Ohio, United States",...,39.989,-82.985,"Columbus, Ohio, United States",Columbus,Columbus,locality,"Ohio, United States",Ohio,2347594.0,America/New_York
13,United States,US,Dallas-Ft. Worth,23424977,2388929,Town,United States,United States,23424977,"Dallas County, Texas, United States",...,32.781,-96.795,"Dallas, Texas, United States",Dallas,Dallas,locality,"Texas, United States",Texas,2347602.0,America/Chicago
14,United States,US,Denver,23424977,2391279,Town,United States,United States,23424977,"Denver County, Colorado, United States",...,39.740,-104.991,"Denver, Colorado, United States",Denver,Denver,locality,"Colorado, United States",Colorado,2347564.0,America/Denver
15,United States,US,Detroit,23424977,2391585,Town,United States,United States,23424977,"Wayne County, Michigan, United States",...,42.331,-83.047,"Detroit, Michigan, United States",Detroit,Detroit,locality,"Michigan, United States",Michigan,2347581.0,America/Detroit
16,United States,US,El Paso,23424977,2397816,Town,United States,United States,23424977,"El Paso County, Texas, United States",...,31.849,-106.437,"El Paso, Texas, United States",El Paso,El Paso,locality,"Texas, United States",Texas,2347602.0,America/Denver
17,United States,US,Fresno,23424977,2407517,Town,United States,United States,23424977,"Fresno County, California, United States",...,36.783,-119.794,"Fresno, California, United States",Fresno,Fresno,locality,"California, United States",California,2347563.0,America/Los_Angeles
18,United States,US,Greensboro,23424977,2414469,Town,United States,United States,23424977,"Guilford County, North Carolina, United States",...,36.096,-79.827,"Greensboro, North Carolina, United States",Greensboro,Greensboro,locality,"North Carolina, United States",North Carolina,2347592.0,America/New_York
19,United States,US,Harrisburg,23424977,2418046,Town,United States,United States,23424977,"Dauphin County, Pennsylvania, United States",...,40.282,-76.880,"Harrisburg, Pennsylvania, United States",Harrisburg,Harrisburg,locality,"Pennsylvania, United States",Pennsylvania,2347597.0,America/New_York
20,United States,US,Honolulu,23424977,2423945,Town,United States,United States,23424977,"Honolulu County, Hawaii, United States",...,21.457,-157.971,"Honolulu, Hawaii, United States",Honolulu,Honolulu,locality,"Hawaii, United States",Hawaii,2347570.0,Pacific/Honolulu
21,United States,US,Houston,23424977,2424766,Town,United States,United States,23424977,"Harris County, Texas, United States",...,29.775,-95.381,"Houston, Texas, United States",Houston,Houston,locality,"Texas, United States",Texas,2347602.0,America/Chicago
22,United States,US,Indianapolis,23424977,2427032,Town,United States,United States,23424977,"Marion County, Indiana, United States",...,39.766,-86.149,"Indianapolis, Indiana, United States",Indianapolis,Indianapolis,locality,"Indiana, United States",Indiana,2347573.0,America/Indiana/Indianapolis
23,United States,US,Jackson,23424977,2428184,Town,United States,United States,23424977,"Hinds County, Mississippi, United States",...,32.298,-90.180,"Jackson, Mississippi, United States",Jackson,Jackson,locality,"Mississippi, United States",Mississippi,2347583.0,America/Chicago
24,United States,US,Jacksonville,23424977,2428344,Town,United States,United States,23424977,"Duval County, Florida, United States",...,30.332,-81.674,"Jacksonville, Florida, United States",Jacksonville,Jacksonville,locality,"Florida, United States",Florida,2347568.0,America/New_York
25,United States,US,Kansas City,23424977,2430683,Town,United States,United States,23424977,"Jackson County, Missouri, United States",...,39.102,-94.583,"Kansas City, Missouri, United States",Kansas City,Kansas City,locality,"Missouri, United States",Missouri,2347584.0,America/Chicago
26,United States,US,Las Vegas,23424977,2436704,Town,United States,United States,23424977,"Clark County, Nevada, United States",...,36.171,-115.139,"Las Vegas, Nevada, United States",Las Vegas,Las Vegas,locality,"Nevada, United States",Nevada,2347587.0,America/Los_Angeles
27,United States,US,Long Beach,23424977,2441472,Town,United States,United States,23424977,"Los Angeles County, California, United States",...,33.797,-118.166,"Long Beach, California, United States",Long Beach,Long Beach,locality,"California, United States",California,2347563.0,America/Los_Angeles
28,United States,US,Los Angeles,23424977,2442047,Town,United States,United States,23424977,"Los Angeles County, California, United States",...,34.053,-118.245,"Los Angeles, California, United States",Los Angeles,Los Angeles,locality,"California, United States",California,2347563.0,America/Los_Angeles
29,United States,US,Louisville,23424977,2442327,Town,United States,United States,23424977,"Jefferson County, Kentucky, United States",...,38.254,-85.766,"Louisville, Kentucky, United States",Louisville,Louisville,locality,"Kentucky, United States",Kentucky,2347576.0,America/Kentucky/Louisville
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,United States,US,Minneapolis,23424977,2452078,Town,United States,United States,23424977,"Hennepin County, Minnesota, United States",...,44.979,-93.264,"Minneapolis, Minnesota, United States",Minneapolis,Minneapolis,locality,"Minnesota, United States",Minnesota,2347582.0,America/Chicago
35,United States,US,Nashville,23424977,2457170,Town,United States,United States,23424977,"Davidson County, Tennessee, United States",...,36.171,-86.784,"Nashville, Tennessee, United States",Nashville,Nashville,locality,"Tennessee, United States",Tennessee,2347601.0,America/Chicago
36,United States,US,New Haven,23424977,2458410,Town,United States,United States,23424977,"New Haven County, Connecticut, United States",...,41.303,-72.922,"New Haven, Connecticut, United States",New Haven,New Haven,locality,"Connecticut, United States",Connecticut,2347565.0,America/New_York
37,United States,US,New Orleans,23424977,2458833,Town,United States,United States,23424977,"Orleans Parish County, Louisiana, United States",...,30.068,-89.931,"New Orleans, Louisiana, United States",New Orleans,New Orleans,locality,"Louisiana, United States",Louisiana,2347577.0,America/Chicago
38,United States,US,New York,23424977,2459115,Town,United States,United States,23424977,None,...,40.714,-74.007,"New York, NY, United States",New York,New York,locality,"New York, United States",New York,2347591.0,America/New_York
39,United States,US,Norfolk,23424977,2460389,Town,United States,United States,23424977,"Norfolk City County, Virginia, United States",...,36.846,-76.285,"Norfolk, Virginia, United States",Norfolk,Norfolk,locality,"Virginia, United States",Virginia,2347605.0,America/New_York
40,United States,US,Oklahoma City,23424977,2464592,Town,United States,United States,23424977,"Oklahoma County, OK, United States",...,35.466,-97.514,"Oklahoma City, Oklahoma, United States",Oklahoma City,Oklahoma City,locality,"Oklahoma, United States",Oklahoma,2347595.0,America/Chicago
41,United States,US,Omaha,23424977,2465512,Town,United States,United States,23424977,"Douglas County, Nebraska, United States",...,41.263,-96.035,"Omaha, Nebraska, United States",Omaha,Omaha,locality,"Nebraska, United States",Nebraska,2347586.0,America/Chicago
42,United States,US,Orlando,23424977,2466256,Town,United States,United States,23424977,"Orange County, Florida, United States",...,28.479,-81.344,"Orlando, Florida, United States",Orlando,Orlando,locality,"Florida, United States",Florida,2347568.0,America/New_York
43,United States,US,Philadelphia,23424977,2471217,Town,United States,United States,23424977,"Philadelphia County, Pennsylvania, United States",...,40.007,-75.133,"Philadelphia, Pennsylvania, United States",Philadelphia,Philadelphia,locality,"Pennsylvania, United States",Pennsylvania,2347597.0,America/New_York
44,United States,US,Phoenix,23424977,2471390,Town,United States,United States,23424977,"Maricopa County, Arizona, United States",...,33.558,-112.080,"Phoenix, Arizona, United States",Phoenix,Phoenix,locality,"Arizona, United States",Arizona,2347561.0,America/Phoenix
45,United States,US,Pittsburgh,23424977,2473224,Town,United States,United States,23424977,"Allegheny County, Pennsylvania, United States",...,40.431,-79.980,"Pittsburgh, Pennsylvania, United States",Pittsburgh,Pittsburgh,locality,"Pennsylvania, United States",Pennsylvania,2347597.0,America/New_York
46,United States,US,Portland,23424977,2475687,Town,United States,United States,23424977,"Multnomah County, Oregon, United States",...,45.536,-122.650,"Portland, Oregon, United States",Portland,Portland,locality,"Oregon, United States",Oregon,2347596.0,America/Los_Angeles
47,United States,US,Providence,23424977,2477058,Town,United States,United States,23424977,"Providence County, Rhode Island, United States",...,41.823,-71.419,"Providence, Rhode Island, United States",Providence,Providence,locality,"Rhode Island, United States",Rhode Island,2347598.0,America/New_York
48,United States,US,Raleigh,23424977,2478307,Town,United States,United States,23424977,"Wake County, North Carolina, United States",...,35.785,-78.642,"Raleigh, North Carolina, United States",Raleigh,Raleigh,locality,"North Carolina, United States",North Carolina,2347592.0,America/New_York
49,United States,US,Richmond,23424977,2480894,Town,United States,United States,23424977,"Richmond City County, Virginia, United States",...,37.529,-77.475,"Richmond, Virginia, United States",Richmond,Richmond,locality,"Virginia, United States",Virginia,2347605.0,America/New_York
50,United States,US,Sacramento,23424977,2486340,Town,United States,United States,23424977,"Sacramento County, California, United States",...,38.567,-121.468,"Sacramento, California, United States",Sacramento,Sacramento,locality,"California, United States",California,2347563.0,America/Los_Angeles
51,United States,US,St. Louis,23424977,2486982,Town,United States,United States,23424977,"St. Louis City County, Missouri, United States",...,38.627,-90.199,"St. Louis, Missouri, United States",St. Louis,St. Louis,locality,"Missouri, United States",Missouri,2347584.0,America/Chicago
52,United States,US,Salt Lake City,23424977,2487610,Town,United States,United States,23424977,"Salt Lake County, Utah, United States",...,40.777,-111.930,"Salt Lake City, Utah, United States",Salt Lake City,Salt Lake City,locality,"Utah, United States",Utah,2347603.0,America/Denver
53,United States,US,San Antonio,23424977,2487796,Town,United States,United States,23424977,"Bexar County, Texas, United States",...,29.460,-98.521,"San Antonio, Texas, United States",San Antonio,San Antonio,locality,"Texas, United States",Texas,2347602.0,America/Chicago
54,United States,US,San Diego,23424977,2487889,Town,United States,United States,23424977,"San Diego County, California, United States",...,32.831,-117.122,"San Diego, California, United States",San Diego,San Diego,locality,"California, United States",California,2347563.0,America/Los_Angeles
55,United States,US,San Francisco,23424977,2487956,Town,United States,United States,23424977,"San Francisco County, California, United States",...,37.747,-122.439,"San Francisco, California, United States",San Francisco,San Francisco,locality,"California, United States",California,2347563.0,America/Los_Angeles
56,United States,US,San Jose,23424977,2488042,Town,United States,United States,23424977,"Santa Clara County, California, United States",...,37.338,-121.886,"San Jose, California, United States",San Jose,San Jose,locality,"California, United States",California,2347563.0,America/Los_Angeles
57,United States,US,Seattle,23424977,2490383,Town,United States,United States,23424977,"King County, Washington, United States",...,47.603,-122.329,"Seattle, Washington, United States",Seattle,Seattle,locality,"Washington, United States",Washington,2347606.0,America/Los_Angeles
58,United States,US,Tallahassee,23424977,2503713,Town,United States,United States,23424977,"Leon County, Florida, United States",...,30.439,-84.280,"Tallahassee, Florida, United States",Tallahassee,Tallahassee,locality,"Florida, United States",Florida,2347568.0,America/New_York
59,United States,US,Tampa,23424977,2503863,Town,United States,United States,23424977,"Hillsborough County, Florida, United States",...,27.967,-82.475,"Tampa, Florida, United States",Tampa,Tampa,locality,"Florida, United States",Florida,2347568.0,America/New_York
60,United States,US,Tucson,23424977,2508428,Town,United States,United States,23424977,"Pima County, Arizona, United States",...,32.156,-110.877,"Tucson, Arizona, United States",Tucson,Tucson,locality,"Arizona, United States",Arizona,2347561.0,America/Phoenix
61,United States,US,Virginia Beach,23424977,2512636,Town,United States,United States,23424977,"Virginia Beach City County, Virginia, United S...",...,36.772,-76.050,"Virginia Beach, Virginia, United States",Virginia Beach,Virginia Beach,locality,"Virginia, United States",Virginia,2347605.0,America/New_York
62,United States,US,Washington,23424977,2514815,Town,United States,United States,23424977,"District of Columbia County, DC, United States",...,38.904,-77.016,"Washington, District of Columbia, United States",Washington,Washington,locality,"District of Columbia, United States",District of Columbia,2347567.0,America/New_York
63,United States,US,United States,1,23424977,Country,United States,United States,23424977,None,...,37.167,-95.845,United States,United States,United States,country,None,None,NaN,None

In [52]:
# Write this table of location data to the database
twitter_trend_locations_df.to_sql( 'locations', con=engine, if_exists='append', index=False)

In [53]:
q_results = session.query(Location).all()

In [54]:
for row in q_results:
    print(row.woeid, row.name_full)

2352824 Albuquerque, New Mexico, United States
2357024 Atlanta, Georgia, United States
2352824 Albuquerque, New Mexico, United States
2357024 Atlanta, Georgia, United States
2359991 Baton Rouge, Louisiana, United States
2364559 Birmingham, Alabama, United States
2367105 Boston, Massachusetts, United States
2378426 Charlotte, North Carolina, United States
2379574 Chicago, Illinois, United States
2380358 Cincinnati, Ohio, United States
2381475 Cleveland, Ohio, United States
2383489 Colorado Springs, Colorado, United States
2383660 Columbus, Ohio, United States
2388929 Dallas, Texas, United States
2391279 Denver, Colorado, United States
2391585 Detroit, Michigan, United States
2397816 El Paso, Texas, United States
2407517 Fresno, California, United States
2414469 Greensboro, North Carolina, United States
2418046 Harrisburg, Pennsylvania, United States
2423945 Honolulu, Hawaii, United States
2424766 Houston, Texas, United States
2427032 Indianapolis, Indiana, United States
2428184 Jackson, Mississippi, United States
2428344 Jacksonville, Florida, United States
2430683 Kansas City, Missouri, United States
2436704 Las Vegas, Nevada, United States
2441472 Long Beach, California, United States
2442047 Los Angeles, California, United States
2442327 Louisville, Kentucky, United States
2449323 Memphis, Tennessee, United States
2449808 Mesa, Arizona, United States
2450022 Miami, Florida, United States
2451822 Milwaukee, Wisconsin, United States
2452078 Minneapolis, Minnesota, United States
2457170 Nashville, Tennessee, United States
2458410 New Haven, Connecticut, United States
2458833 New Orleans, Louisiana, United States
2459115 New York, NY, United States
2460389 Norfolk, Virginia, United States
2464592 Oklahoma City, Oklahoma, United States
2465512 Omaha, Nebraska, United States
2466256 Orlando, Florida, United States
2471217 Philadelphia, Pennsylvania, United States
2471390 Phoenix, Arizona, United States
2473224 Pittsburgh, Pennsylvania, United States
2475687 Portland, Oregon, United States
2477058 Providence, Rhode Island, United States
2478307 Raleigh, North Carolina, United States
2480894 Richmond, Virginia, United States
2486340 Sacramento, California, United States
2486982 St. Louis, Missouri, United States
2487610 Salt Lake City, Utah, United States
2487796 San Antonio, Texas, United States
2487889 San Diego, California, United States
2487956 San Francisco, California, United States
2488042 San Jose, California, United States
2490383 Seattle, Washington, United States
2503713 Tallahassee, Florida, United States
2503863 Tampa, Florida, United States
2508428 Tucson, Arizona, United States
2512636 Virginia Beach, Virginia, United States
2514815 Washington, District of Columbia, United States
23424977 United States

In [25]:
def get_trends_for_loc( a_woeid ):
# Get top Twitter trending tweets for a location specified by a WOEID,
# flatten the data, and return it as a list of dictionaries

    # Import trend availability info into a dataframe
    try:
        top_trends = api.trends_place( a_woeid )[0]
        
    except TweepError as e:
        # No top trends info available for this WOEID, return False
        print(f"Error obtaining top trends for WOEID {a_woeid}: ", e)
        return False
    
    #pprint(top_trends)
    
    # Repeat some information that is common for all elements in the trends list
    common_info = {}
        
    # Basic information that should be present for any location
    # 'as_of': '2019-03-26T21:22:42Z',
    # 'created_at': '2019-03-26T21:17:18Z',
    # 'locations': [{'name': 'Atlanta', 'woeid': 2357024}]
    try:
        common_info.update( {
            'woeid': int(top_trends['locations'][0]['woeid']),
            'twitter_name': top_trends['locations'][0]['name'],
            'twitter_created_at': top_trends['created_at'],
            'twitter_as_of': top_trends['as_of']
        })
                
    except:
        print("Error - basic location information not returned for WOEID{a_woeid}: ", sys.exc_info()[0])
   
    # Loop through all of the trends and store in an array of dictionary elements
    # 'name': 'Jussie Smollett'
    # 'promoted_content': None
    # 'query': '%22Jussie+Smollett%22'
    # 'tweet_volume': 581331
    # 'url': 'http://twitter.com/search?q=%22Jussie+Smollett%22'

    # Return the trends as an array of flattened dictionaries
    trend_info = []

    for ti in top_trends['trends']:
        
        # Put the trend info into a dictionary, starting with the common info
        this_trend = common_info.copy()
        
        # Timezone associated with the location - if available
        try:
            this_trend.update( {
                'twitter_tweet_name': ti['name'],
                'twitter_tweet_promoted_content': ti['promoted_content'],
                'twitter_tweet_query': ti['query'],
                'twitter_tweet_volume': ti['tweet_volume'],
                'twitter_tweet_url': ti['url']
            })

        except:
            this_trend.update( {
                'twitter_tweet_name': None,
                'twitter_tweet_promoted_content': None,
                'twitter_tweet_query': None,
                'twitter_tweet_volume': None,
                'twitter_tweet_url': None
            })
            
        # Append this trend to the list
        trend_info.append( this_trend )
    
    return trend_info

In [26]:
# Get trend info for a WOEID location
t_info = get_trends_for_loc(2357024)
t_info_df = pd.DataFrame.from_dict(t_info)

In [27]:
t_info_df = pd.DataFrame.from_dict(t_info)

In [56]:
t_info_df

,twitter_as_of,twitter_created_at,twitter_name,twitter_tweet_name,twitter_tweet_promoted_content,twitter_tweet_query,twitter_tweet_url,twitter_tweet_volume,woeid
0,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#ThisIsUs,None,%23ThisIsUs,http://twitter.com/search?q=%23ThisIsUs,24521.0,2357024
1,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Asuka,None,Asuka,http://twitter.com/search?q=Asuka,66265.0,2357024
2,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#THWg,None,%23THWg,http://twitter.com/search?q=%23THWg,NaN,2357024
3,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Jussie Smollett,None,%22Jussie+Smollett%22,http://twitter.com/search?q=%22Jussie+Smollett%22,837613.0,2357024
4,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Special Olympics,None,%22Special+Olympics%22,http://twitter.com/search?q=%22Special+Olympic...,231529.0,2357024
5,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Cardi,None,Cardi,http://twitter.com/search?q=Cardi,130663.0,2357024
6,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#TuesdayThoughts,None,%23TuesdayThoughts,http://twitter.com/search?q=%23TuesdayThoughts,130842.0,2357024
7,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#SDLive,None,%23SDLive,http://twitter.com/search?q=%23SDLive,86532.0,2357024
8,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Lance,None,Lance,http://twitter.com/search?q=Lance,103506.0,2357024
9,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#TemptationIsland,None,%23TemptationIsland,http://twitter.com/search?q=%23TemptationIsland,NaN,2357024
10,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Jeff Green,None,%22Jeff+Green%22,http://twitter.com/search?q=%22Jeff+Green%22,14741.0,2357024
11,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Betsy DeVos,None,%22Betsy+DeVos%22,http://twitter.com/search?q=%22Betsy+DeVos%22,148757.0,2357024
12,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Randall,None,Randall,http://twitter.com/search?q=Randall,12835.0,2357024
13,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Stepped,None,Stepped,http://twitter.com/search?q=Stepped,23126.0,2357024
14,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Kaci,None,Kaci,http://twitter.com/search?q=Kaci,NaN,2357024
15,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Paraguay,None,Paraguay,http://twitter.com/search?q=Paraguay,42050.0,2357024
16,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Chris Bosh,None,%22Chris+Bosh%22,http://twitter.com/search?q=%22Chris+Bosh%22,29341.0,2357024
17,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Smackdown,None,Smackdown,http://twitter.com/search?q=Smackdown,13717.0,2357024
18,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Chris Paul,None,%22Chris+Paul%22,http://twitter.com/search?q=%22Chris+Paul%22,19637.0,2357024
19,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Sam Steel,None,%22Sam+Steel%22,http://twitter.com/search?q=%22Sam+Steel%22,NaN,2357024
20,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,New Day,None,%22New+Day%22,http://twitter.com/search?q=%22New+Day%22,25093.0,2357024
21,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Eric Bledsoe,None,%22Eric+Bledsoe%22,http://twitter.com/search?q=%22Eric+Bledsoe%22,NaN,2357024
22,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Almiron,None,Almiron,http://twitter.com/search?q=Almiron,NaN,2357024
23,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,DJ Wilson,None,%22DJ+Wilson%22,http://twitter.com/search?q=%22DJ+Wilson%22,10601.0,2357024
24,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Tatis,None,Tatis,http://twitter.com/search?q=Tatis,NaN,2357024
25,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Ranking Roger,None,%22Ranking+Roger%22,http://twitter.com/search?q=%22Ranking+Roger%22,10706.0,2357024
26,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Dustin May,None,%22Dustin+May%22,http://twitter.com/search?q=%22Dustin+May%22,NaN,2357024
27,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Christian Wood,None,%22Christian+Wood%22,http://twitter.com/search?q=%22Christian+Wood%22,NaN,2357024
28,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Pulisic,None,Pulisic,http://twitter.com/search?q=Pulisic,NaN,2357024
29,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,The Bucks,None,%22The+Bucks%22,http://twitter.com/search?q=%22The+Bucks%22,NaN,2357024
...,...,...,...,...,...,...,...,...,...
70,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Paraguay,None,Paraguay,http://twitter.com/search?q=Paraguay,42050.0,2352824
71,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Chris Bosh,None,%22Chris+Bosh%22,http://twitter.com/search?q=%22Chris+Bosh%22,29341.0,2352824
72,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Smackdown,None,Smackdown,http://twitter.com/search?q=Smackdown,13717.0,2352824
73,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Chris Paul,None,%22Chris+Paul%22,http://twitter.com/search?q=%22Chris+Paul%22,19637.0,2352824
74,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Sam Steel,None,%22Sam+Steel%22,http://twitter.com/search?q=%22Sam+Steel%22,NaN,2352824
75,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,New Day,None,%22New+Day%22,http://twitter.com/search?q=%22New+Day%22,25093.0,2352824
76,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Eric Bledsoe,None,%22Eric+Bledsoe%22,http://twitter.com/search?q=%22Eric+Bledsoe%22,NaN,2352824
77,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Almiron,None,Almiron,http://twitter.com/search?q=Almiron,NaN,2352824
78,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,DJ Wilson,None,%22DJ+Wilson%22,http://twitter.com/search?q=%22DJ+Wilson%22,10601.0,2352824
79,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Tatis,None,Tatis,http://twitter.com/search?q=Tatis,NaN,2352824
80,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Ranking Roger,None,%22Ranking+Roger%22,http://twitter.com/search?q=%22Ranking+Roger%22,10706.0,2352824
81,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Dustin May,None,%22Dustin+May%22,http://twitter.com/search?q=%22Dustin+May%22,NaN,2352824
82,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Christian Wood,None,%22Christian+Wood%22,http://twitter.com/search?q=%22Christian+Wood%22,NaN,2352824
83,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Pulisic,None,Pulisic,http://twitter.com/search?q=Pulisic,NaN,2352824
84,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#IReallyDontUnderstandWhy,None,%23IReallyDontUnderstandWhy,http://twitter.com/search?q=%23IReallyDontUnde...,NaN,2352824
85,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#USMNT,None,%23USMNT,http://twitter.com/search?q=%23USMNT,NaN,2352824
86,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#OldWestTunes,None,%23OldWestTunes,http://twitter.com/search?q=%23OldWestTunes,NaN,2352824
87,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#DucksHeadline,None,%23DucksHeadline,http://twitter.com/search?q=%23DucksHeadline,NaN,2352824
88,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#MarriedAtFirstSight,None,%23MarriedAtFirstSight,http://twitter.com/search?q=%23MarriedAtFirstS...,NaN,2352824
89,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#EDCLV2019,None,%23EDCLV2019,http://twitter.com/search?q=%23EDCLV2019,NaN,2352824
90,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#BoomerangOnBET,None,%23BoomerangOnBET,http://twitter.com/search?q=%23BoomerangOnBET,NaN,2352824
91,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#beautysos,None,%23beautysos,http://twitter.com/search?q=%23beautysos,NaN,2352824
92,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#PlayersOnly,None,%23PlayersOnly,http://twitter.com/search?q=%23PlayersOnly,NaN,2352824
93,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#GauntletMatch,None,%23GauntletMatch,http://twitter.com/search?q=%23GauntletMatch,10790.0,2352824
94,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#SiestaKey,None,%23SiestaKey,http://twitter.com/search?q=%23SiestaKey,NaN,2352824
95,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#USAvCHI,None,%23USAvCHI,http://twitter.com/search?q=%23USAvCHI,NaN,2352824
96,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#CHIvsARI,None,%23CHIvsARI,http://twitter.com/search?q=%23CHIvsARI,NaN,2352824
97,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#MEXTOUR,None,%23MEXTOUR,http://twitter.com/search?q=%23MEXTOUR,NaN,2352824
98,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#PureMagic,None,%23PureMagic,http://twitter.com/search?q=%23PureMagic,NaN,2352824
99,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#WomensTitle,None,%23WomensTitle,http://twitter.com/search?q=%23WomensTitle,NaN,2352824

In [29]:
t_info = get_trends_for_loc(2352824)

In [30]:
t_info_df = t_info_df.append( pd.DataFrame.from_dict(t_info), ignore_index = True)

In [31]:
t_info_df

,twitter_as_of,twitter_created_at,twitter_name,twitter_tweet_name,twitter_tweet_promoted_content,twitter_tweet_query,twitter_tweet_url,twitter_tweet_volume,woeid
0,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#ThisIsUs,None,%23ThisIsUs,http://twitter.com/search?q=%23ThisIsUs,24521.0,2357024
1,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Asuka,None,Asuka,http://twitter.com/search?q=Asuka,66265.0,2357024
2,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#THWg,None,%23THWg,http://twitter.com/search?q=%23THWg,NaN,2357024
3,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Jussie Smollett,None,%22Jussie+Smollett%22,http://twitter.com/search?q=%22Jussie+Smollett%22,837613.0,2357024
4,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Special Olympics,None,%22Special+Olympics%22,http://twitter.com/search?q=%22Special+Olympic...,231529.0,2357024
5,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Cardi,None,Cardi,http://twitter.com/search?q=Cardi,130663.0,2357024
6,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#TuesdayThoughts,None,%23TuesdayThoughts,http://twitter.com/search?q=%23TuesdayThoughts,130842.0,2357024
7,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#SDLive,None,%23SDLive,http://twitter.com/search?q=%23SDLive,86532.0,2357024
8,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Lance,None,Lance,http://twitter.com/search?q=Lance,103506.0,2357024
9,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,#TemptationIsland,None,%23TemptationIsland,http://twitter.com/search?q=%23TemptationIsland,NaN,2357024
10,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Jeff Green,None,%22Jeff+Green%22,http://twitter.com/search?q=%22Jeff+Green%22,14741.0,2357024
11,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Betsy DeVos,None,%22Betsy+DeVos%22,http://twitter.com/search?q=%22Betsy+DeVos%22,148757.0,2357024
12,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Randall,None,Randall,http://twitter.com/search?q=Randall,12835.0,2357024
13,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Stepped,None,Stepped,http://twitter.com/search?q=Stepped,23126.0,2357024
14,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Kaci,None,Kaci,http://twitter.com/search?q=Kaci,NaN,2357024
15,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Paraguay,None,Paraguay,http://twitter.com/search?q=Paraguay,42050.0,2357024
16,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Chris Bosh,None,%22Chris+Bosh%22,http://twitter.com/search?q=%22Chris+Bosh%22,29341.0,2357024
17,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Smackdown,None,Smackdown,http://twitter.com/search?q=Smackdown,13717.0,2357024
18,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Chris Paul,None,%22Chris+Paul%22,http://twitter.com/search?q=%22Chris+Paul%22,19637.0,2357024
19,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Sam Steel,None,%22Sam+Steel%22,http://twitter.com/search?q=%22Sam+Steel%22,NaN,2357024
20,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,New Day,None,%22New+Day%22,http://twitter.com/search?q=%22New+Day%22,25093.0,2357024
21,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Eric Bledsoe,None,%22Eric+Bledsoe%22,http://twitter.com/search?q=%22Eric+Bledsoe%22,NaN,2357024
22,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Almiron,None,Almiron,http://twitter.com/search?q=Almiron,NaN,2357024
23,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,DJ Wilson,None,%22DJ+Wilson%22,http://twitter.com/search?q=%22DJ+Wilson%22,10601.0,2357024
24,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Tatis,None,Tatis,http://twitter.com/search?q=Tatis,NaN,2357024
25,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Ranking Roger,None,%22Ranking+Roger%22,http://twitter.com/search?q=%22Ranking+Roger%22,10706.0,2357024
26,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Dustin May,None,%22Dustin+May%22,http://twitter.com/search?q=%22Dustin+May%22,NaN,2357024
27,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Christian Wood,None,%22Christian+Wood%22,http://twitter.com/search?q=%22Christian+Wood%22,NaN,2357024
28,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,Pulisic,None,Pulisic,http://twitter.com/search?q=Pulisic,NaN,2357024
29,2019-03-27T05:19:57Z,2019-03-27T05:16:48Z,Atlanta,The Bucks,None,%22The+Bucks%22,http://twitter.com/search?q=%22The+Bucks%22,NaN,2357024
...,...,...,...,...,...,...,...,...,...
70,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Paraguay,None,Paraguay,http://twitter.com/search?q=Paraguay,42050.0,2352824
71,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Chris Bosh,None,%22Chris+Bosh%22,http://twitter.com/search?q=%22Chris+Bosh%22,29341.0,2352824
72,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Smackdown,None,Smackdown,http://twitter.com/search?q=Smackdown,13717.0,2352824
73,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Chris Paul,None,%22Chris+Paul%22,http://twitter.com/search?q=%22Chris+Paul%22,19637.0,2352824
74,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Sam Steel,None,%22Sam+Steel%22,http://twitter.com/search?q=%22Sam+Steel%22,NaN,2352824
75,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,New Day,None,%22New+Day%22,http://twitter.com/search?q=%22New+Day%22,25093.0,2352824
76,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Eric Bledsoe,None,%22Eric+Bledsoe%22,http://twitter.com/search?q=%22Eric+Bledsoe%22,NaN,2352824
77,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Almiron,None,Almiron,http://twitter.com/search?q=Almiron,NaN,2352824
78,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,DJ Wilson,None,%22DJ+Wilson%22,http://twitter.com/search?q=%22DJ+Wilson%22,10601.0,2352824
79,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Tatis,None,Tatis,http://twitter.com/search?q=Tatis,NaN,2352824
80,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Ranking Roger,None,%22Ranking+Roger%22,http://twitter.com/search?q=%22Ranking+Roger%22,10706.0,2352824
81,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Dustin May,None,%22Dustin+May%22,http://twitter.com/search?q=%22Dustin+May%22,NaN,2352824
82,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Christian Wood,None,%22Christian+Wood%22,http://twitter.com/search?q=%22Christian+Wood%22,NaN,2352824
83,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,Pulisic,None,Pulisic,http://twitter.com/search?q=Pulisic,NaN,2352824
84,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#IReallyDontUnderstandWhy,None,%23IReallyDontUnderstandWhy,http://twitter.com/search?q=%23IReallyDontUnde...,NaN,2352824
85,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#USMNT,None,%23USMNT,http://twitter.com/search?q=%23USMNT,NaN,2352824
86,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#OldWestTunes,None,%23OldWestTunes,http://twitter.com/search?q=%23OldWestTunes,NaN,2352824
87,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#DucksHeadline,None,%23DucksHeadline,http://twitter.com/search?q=%23DucksHeadline,NaN,2352824
88,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#MarriedAtFirstSight,None,%23MarriedAtFirstSight,http://twitter.com/search?q=%23MarriedAtFirstS...,NaN,2352824
89,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#EDCLV2019,None,%23EDCLV2019,http://twitter.com/search?q=%23EDCLV2019,NaN,2352824
90,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#BoomerangOnBET,None,%23BoomerangOnBET,http://twitter.com/search?q=%23BoomerangOnBET,NaN,2352824
91,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#beautysos,None,%23beautysos,http://twitter.com/search?q=%23beautysos,NaN,2352824
92,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#PlayersOnly,None,%23PlayersOnly,http://twitter.com/search?q=%23PlayersOnly,NaN,2352824
93,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#GauntletMatch,None,%23GauntletMatch,http://twitter.com/search?q=%23GauntletMatch,10790.0,2352824
94,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#SiestaKey,None,%23SiestaKey,http://twitter.com/search?q=%23SiestaKey,NaN,2352824
95,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#USAvCHI,None,%23USAvCHI,http://twitter.com/search?q=%23USAvCHI,NaN,2352824
96,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#CHIvsARI,None,%23CHIvsARI,http://twitter.com/search?q=%23CHIvsARI,NaN,2352824
97,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#MEXTOUR,None,%23MEXTOUR,http://twitter.com/search?q=%23MEXTOUR,NaN,2352824
98,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#PureMagic,None,%23PureMagic,http://twitter.com/search?q=%23PureMagic,NaN,2352824
99,2019-03-27T05:19:57Z,2019-03-27T05:16:53Z,Albuquerque,#WomensTitle,None,%23WomensTitle,http://twitter.com/search?q=%23WomensTitle,NaN,2352824

In [32]:
t_info_df.dtypes

twitter_as_of                      object
twitter_created_at                 object
twitter_name                       object
twitter_tweet_name                 object
twitter_tweet_promoted_content     object
twitter_tweet_query                object
twitter_tweet_url                  object
twitter_tweet_volume              float64
woeid                               int64
dtype: object

In [68]:
for tw_woeid in twitter_trend_locations_df['woeid']:
    print(tw_woeid)

    # Make sure we haven't hit the rate limit yet
    calls_remaining = api_calls_remaining( api, "place" )
    print (f"Trends/Place API call has {calls_remaining} calls remaining")
    time_before_reset = api_time_before_reset( api, "place")

    # If we're rate limited for the trends/place API,
    # then wait until the next reset =
    # 'time_before_reset' minutes+ 1 minute buffer
    if (calls_remaining < 1):
        print (f"Waiting {time_before_reset} minutes due to rate limit")
        time.sleep( (time_before_reset+1) * 60)
        
    # Get trend info for a WOEID location
    t_info = get_trends_for_loc(tw_woeid)
    
    # Create a DataFrame
    t_info_df = pd.DataFrame.from_dict(t_info)
    
    # Append it to the 'trends' database table
    t_info_df.to_sql( 'trends', con=engine, if_exists='append', index=False)

2352824
Trends/Place API call has 59 calls remaining
Time Before Reset: 8.8: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:35
2357024
Trends/Place API call has 58 calls remaining
Time Before Reset: 8.8: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:36
2357536
Trends/Place API call has 57 calls remaining
Time Before Reset: 8.7: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:37
2358820
Trends/Place API call has 56 calls remaining
Time Before Reset: 8.7: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:37
2359991
Trends/Place API call has 55 calls remaining
Time Before Reset: 8.7: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:38
2364559
Trends/Place API call has 54 calls remaining
Time Before Reset: 8.7: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:39
2367105
Trends/Place API call has 53 calls remaining
Time Before Reset: 8.7: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:40
2378426
Trends/Place API call has 52 calls remaining
Time Before Reset: 8.7: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:40
2379574
Trends/Place API call has 51 calls remaining
Time Before Reset: 8.7: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:41
2380358
Trends/Place API call has 50 calls remaining
Time Before Reset: 8.7: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:42
2381475
Trends/Place API call has 49 calls remaining
Time Before Reset: 8.6: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:43
2383489
Trends/Place API call has 48 calls remaining
Time Before Reset: 8.6: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:44
2383660
Trends/Place API call has 47 calls remaining
Time Before Reset: 8.6: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:45
2388929
Trends/Place API call has 46 calls remaining
Time Before Reset: 8.6: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:45
2391279
Trends/Place API call has 45 calls remaining
Time Before Reset: 8.6: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:46
2391585
Trends/Place API call has 44 calls remaining
Time Before Reset: 8.6: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:47
2397816
Trends/Place API call has 43 calls remaining
Time Before Reset: 8.6: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:48
2407517
Trends/Place API call has 42 calls remaining
Time Before Reset: 8.5: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:49
2414469
Trends/Place API call has 41 calls remaining
Time Before Reset: 8.5: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:50
2418046
Trends/Place API call has 40 calls remaining
Time Before Reset: 8.5: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:51
2423945
Trends/Place API call has 39 calls remaining
Time Before Reset: 8.5: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:52
2424766
Trends/Place API call has 38 calls remaining
Time Before Reset: 8.5: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:53
2427032
Trends/Place API call has 37 calls remaining
Time Before Reset: 8.5: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:54
2428184
Trends/Place API call has 36 calls remaining
Time Before Reset: 8.4: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:55
2428344
Trends/Place API call has 35 calls remaining
Time Before Reset: 8.4: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:56
2430683
Trends/Place API call has 34 calls remaining
Time Before Reset: 8.4: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:57
2436704
Trends/Place API call has 33 calls remaining
Time Before Reset: 8.4: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:57
2441472
Trends/Place API call has 32 calls remaining
Time Before Reset: 8.4: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:58
2442047
Trends/Place API call has 31 calls remaining
Time Before Reset: 8.4: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:13:59
2442327
Trends/Place API call has 30 calls remaining
Time Before Reset: 8.4: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:00
2449323
Trends/Place API call has 29 calls remaining
Time Before Reset: 8.3: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:01
2449808
Trends/Place API call has 28 calls remaining
Time Before Reset: 8.3: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:02
2450022
Trends/Place API call has 27 calls remaining
Time Before Reset: 8.3: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:03
2451822
Trends/Place API call has 26 calls remaining
Time Before Reset: 8.3: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:03
2452078
Trends/Place API call has 25 calls remaining
Time Before Reset: 8.3: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:04
2457170
Trends/Place API call has 24 calls remaining
Time Before Reset: 8.3: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:05
2458410
Trends/Place API call has 23 calls remaining
Time Before Reset: 8.3: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:06
2458833
Trends/Place API call has 22 calls remaining
Time Before Reset: 8.2: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:07
2459115
Trends/Place API call has 21 calls remaining
Time Before Reset: 8.2: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:08
2460389
Trends/Place API call has 20 calls remaining
Time Before Reset: 8.2: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:08
2464592
Trends/Place API call has 19 calls remaining
Time Before Reset: 8.2: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:09
2465512
Trends/Place API call has 18 calls remaining
Time Before Reset: 8.2: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:10
2466256
Trends/Place API call has 17 calls remaining
Time Before Reset: 8.2: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:11
2471217
Trends/Place API call has 16 calls remaining
Time Before Reset: 8.2: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:12
2471390
Trends/Place API call has 15 calls remaining
Time Before Reset: 8.1: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:13
2473224
Trends/Place API call has 14 calls remaining
Time Before Reset: 8.1: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:13
2475687
Trends/Place API call has 13 calls remaining
Time Before Reset: 8.1: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:14
2477058
Trends/Place API call has 12 calls remaining
Time Before Reset: 8.1: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:15
2478307
Trends/Place API call has 11 calls remaining
Time Before Reset: 8.1: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:16
2480894
Trends/Place API call has 10 calls remaining
Time Before Reset: 8.1: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:17
2486340
Trends/Place API call has 9 calls remaining
Time Before Reset: 8.1: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:17
2486982
Trends/Place API call has 8 calls remaining
Time Before Reset: 8.1: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:18
2487610
Trends/Place API call has 7 calls remaining
Time Before Reset: 8.0: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:19
2487796
Trends/Place API call has 6 calls remaining
Time Before Reset: 8.0: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:20
2487889
Trends/Place API call has 5 calls remaining
Time Before Reset: 8.0: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:21
2487956
Trends/Place API call has 4 calls remaining
Time Before Reset: 8.0: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:21
2488042
Trends/Place API call has 3 calls remaining
Time Before Reset: 8.0: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:22
2490383
Trends/Place API call has 2 calls remaining
Time Before Reset: 8.0: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:23

2503713
Trends/Place API call has 1 calls remaining
Time Before Reset: 8.0: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:24
2503863
Trends/Place API call has 0 calls remaining
Time Before Reset: 7.9: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:14:25
Waiting 7.946771116666667 minutes due to rate limit
2508428
Trends/Place API call has 74 calls remaining
Time Before Reset: 15.0: Reset Time: 2019-03-27 01:37:23, Local Time: 2019-03-27 01:22:22
2512636
Trends/Place API call has 73 calls remaining
Time Before Reset: 15.0: Reset Time: 2019-03-27 01:37:23, Local Time: 2019-03-27 01:22:23
2514815
Trends/Place API call has 72 calls remaining
Time Before Reset: 15.0: Reset Time: 2019-03-27 01:37:23, Local Time: 2019-03-27 01:22:24
23424977
Trends/Place API call has 71 calls remaining
Time Before Reset: 15.0: Reset Time: 2019-03-27 01:37:23, Local Time: 2019-03-27 01:22:25

In [66]:
calls_remaining = api_calls_remaining( api, "place" )
print (calls_remaining)

59

In [67]:
api_time_before_reset( api, "place")

Time Before Reset: 9.4: Reset Time: 2019-03-27 01:22:22, Local Time: 2019-03-27 01:12:56

9.41939545