# Project 2 - GeoTweet

@Author Jeffery Brown (daddyjab)<br>
@Date 3/25/19<br>
@File ETL_for_GeoTweet

In [37]:
# Dependencies
import tweepy
import json
import time

# Twitter API Keys
import os
from api_config import *

# Other
import pandas as pd
from datetime import datetime 
from dateutil import tz

from pprint import pprint

# key_twitter_tweetquestor_consumer_api_key
# key_twitter_tweetquestor_consumer_api_secret_key
# key_twitter_tweetquestor_access_token
# key_twitter_tweetquestor_access_secret_token

In [2]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(key_twitter_tweetquestor_consumer_api_key, key_twitter_tweetquestor_consumer_api_secret_key)
auth.set_access_token(key_twitter_tweetquestor_access_token, key_twitter_tweetquestor_access_secret_token)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [4]:
results = api.trends_available()

In [7]:
results[1]

{'name': 'Winnipeg',
 'placeType': {'code': 7, 'name': 'Town'},
 'url': 'http://where.yahooapis.com/v1/place/2972',
 'parentid': 23424775,
 'country': 'Canada',
 'woeid': 2972,
 'countryCode': 'CA'}

In [ ]:
# Import trend availability info into a dataframe
results_df = pd.DataFrame.from_dict(results, orient='columns')

In [135]:
results_df[ (results_df['countryCode'] == "US") & (results_df.placeType.map( lambda x: x['name'] ) != "Town") ]

,country,countryCode,name,parentid,placeType,url,woeid
460,United States,US,United States,1,"{'code': 12, 'name': 'Country'}",http://where.yahooapis.com/v1/place/23424977,23424977

In [86]:
# RATE LIMIT STUFF
# Just look for RateLimitError response from Tweepy API call - see: http://docs.tweepy.org/en/v3.5.0/api.html

In [20]:
rate_limits = api.rate_limit_status()

In [26]:
pprint(rate_limits['resources']['trends'])

{'/trends/available': {'limit': 75, 'remaining': 75, 'reset': 1553564721},
 '/trends/closest': {'limit': 75, 'remaining': 75, 'reset': 1553564721},
 '/trends/place': {'limit': 75, 'remaining': 75, 'reset': 1553564721}}

In [27]:
rate_limits_trends_available = rate_limits['resources']['trends']['/trends/available']
rate_limits_trends_available

{'limit': 75, 'remaining': 75, 'reset': 1553564721}

In [28]:
rate_limits_trends_closest = rate_limits['resources']['trends']['/trends/available']
rate_limits_trends_closest

{'limit': 75, 'remaining': 75, 'reset': 1553564721}

In [29]:
rate_limits_trends_place = rate_limits['resources']['trends']['/trends/available']
rate_limits_trends_place

{'limit': 75, 'remaining': 75, 'reset': 1553564721}

In [38]:
ts = int("1553564721")
datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S')

'2019-03-26 01:45:21'

In [42]:
# Time zones "from" and "to"
from_zone = tz.tzutc()
from_zone

to_zone = tz.tzlocal()
to_zone

tzutc()

In [44]:
# utc = datetime.utcnow()
# utc = datetime.strptime('2011-01-21 02:37:21', '%Y-%m-%d %H:%M:%S')
utc = datetime.utcfromtimestamp(ts)
utc

datetime.datetime(2019, 3, 26, 1, 45, 21)

In [48]:
# Tell the datetime object that it's in UTC time zone since 
# datetime objects are 'naive' by default
utc = utc.replace(tzinfo=from_zone)
utc.strftime('%Y-%m-%d %H:%M:%S')

'2019-03-26 01:45:21'

In [49]:
# Convert time zone
central = utc.astimezone(to_zone)
central.strftime('%Y-%m-%d %H:%M:%S')

'2019-03-25 20:45:21'

In [68]:
currentutc = datetime.utcnow().replace(tzinfo=tz.tzutc() )
currentutc.strftime('%Y-%m-%d %H:%M:%S')

'2019-03-26 01:54:10'

In [69]:
localtime = currentutc.astimezone( tz.tzlocal() )
localtime.strftime('%Y-%m-%d %H:%M:%S')

'2019-03-25 20:54:10'

In [74]:
reset_ts = rate_limits['resources']['trends']['/trends/available']['reset']
reset_ts

1553564721

In [84]:
def seconds_to_next_reset(ts):
    ts_utc = datetime.utcfromtimestamp(ts)
    current_utc = datetime.utcnow()
    seconds_remaining = (current_utc - ts_utc).total_seconds()
    print(ts_utc, current_utc)
    return seconds_remaining

In [85]:
seconds_to_next_reset(reset_ts)

2019-03-26 01:45:21 2019-03-26 02:03:20.329237

1079.329237